body {
    background-color: rgb(32, 42, 37);
    color: rgb(221, 214, 208);
    font-family: 'quicksand', sans-serif;
    line-height: 1.5;
}

h1 {
    color: rgb(182, 135, 86);
    text-align: center;   
    font-size: 50px !important;
    font-weight: 900 !important;
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.border {
    border-radius: 20px;
    border: 5px solid rgb(36, 50, 42);
    background-color: rgb(36, 50, 42);
}

h2 {
    color: rgb(182, 135, 86);
    margin: 16px
}


hr {
    background-color: rgb(0, 0, 0); 
    border: none;
    height: 2px;
}

li::marker { color: rgb(0, 0, 0); }

p { margin: 30px; }

a:link { color: rgb(211, 204, 198); }
a:visited { color: rgb(211, 204, 198);}
